<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>maestro</servlet-name>
        <servlet-class>maestro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>conexionverga</servlet-name>
        <servlet-class>conexionverga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pruebasd</servlet-name>
        <servlet-class>pruebasd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarsesion</servlet-name>
        <servlet-class>cerrarsesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarUsu</servlet-name>
        <servlet-class>editarUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarUsu2</servlet-name>
        <servlet-class>editarUsu2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarUsu</servlet-name>
        <servlet-class>eliminarUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarMenu</servlet-name>
        <servlet-class>agregarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarMenu</servlet-name>
        <servlet-class>eliminarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cosaextrañavaliendoverga</servlet-name>
        <servlet-class>cosaextrañavaliendoverga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setAsistencia</servlet-name>
        <servlet-class>setAsistencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generarRandom</servlet-name>
        <servlet-class>generarRandom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarPlatillo</servlet-name>
        <servlet-class>agregarPlatillo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarIngrediente</servlet-name>
        <servlet-class>agregarIngrediente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarIngre</servlet-name>
        <servlet-class>editarIngre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>maestro</servlet-name>
        <url-pattern>/maestro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>conexionverga</servlet-name>
        <url-pattern>/conexionverga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pruebasd</servlet-name>
        <url-pattern>/pruebasd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarsesion</servlet-name>
        <url-pattern>/cerrarsesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarUsu</servlet-name>
        <url-pattern>/editarUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarUsu2</servlet-name>
        <url-pattern>/editarUsu2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarUsu</servlet-name>
        <url-pattern>/eliminarUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarMenu</servlet-name>
        <url-pattern>/agregarMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarMenu</servlet-name>
        <url-pattern>/eliminarMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cosaextrañavaliendoverga</servlet-name>
        <url-pattern>/cosaextra_avaliendoverga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setAsistencia</servlet-name>
        <url-pattern>/setAsistencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generarRandom</servlet-name>
        <url-pattern>/generarRandom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarPlatillo</servlet-name>
        <url-pattern>/agregarPlatillo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarIngrediente</servlet-name>
        <url-pattern>/agregarIngrediente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarIngre</servlet-name>
        <url-pattern>/editarIngre</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
